<div *ngIf="loading">
    <div class="text-center"><span class="glyphicon glyphicon-refresh"> </span></div>
</div>
<div *ngIf="!loading" class="panel">
    <div class="panel-body">
        <form id="personSaveForm" #ngForm="ngForm" class="form-horizontal" (submit)="save(ngForm.form.value)">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>
                            <span>First Name</span>
                            <input type="text" class="form-control" 
                                   [ngModel]="person.FirstName" name="FirstName">
                        </label>
                    </div>
                    <div class="form-group">
                        <label>
                            <span>Last Name</span>
                            <input type="text" class="form-control" 
                                   [ngModel]="person.LastName" name="LastName">
                        </label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>
                            <span>Phone Number</span>
                            <input type="tel" class="form-control" 
                                   [ngModel]="person.ContactPhoneNumber" name="ContactPhoneNumber">
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <button class="btn btn-primary" type="submit">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>
