<div class="panel">
    <div class="panel-body">
        <div class="form-inline">
            <div class="form-group">
                <input type="text" class="form-control" [(ngModel)]="criteria.term"
                       placeholder="Name or phone number"
                       (keyup.enter)="search()">
            </div>
            <button class="btn btn-primary" (click)="search()">Search</button>
            <button class="btn btn-default" (click)="reset()">Reset</button>
        </div>
    </div>
</div>
