<form id="personSearchForm" #ngForm="ngForm" class="panel" (submit)="submitSearch.emit(ngForm.form.value)" (reset)="resetSearch.emit()">
    <div class="panel-body">
        <div class="form-inline">
            <div class="form-group">
                <input type="text" class="form-control" name="term" [ngModel]="criteria.term"
                       placeholder="Name or phone number">
            </div>
            <button class="btn btn-primary" type="submit">Search</button>
            <button class="btn btn-default" type="reset">Reset</button>
        </div>
    </div>
</form>
