app-tabset {
    .tab-content {
        .content {
            display: none;
        }

        .content.active {
            display: inherit;
        }
    }

    ul.nav-tabs {
        li.plus-tab {
            margin-left: 3px;
            margin-top: 5px;
            padding: 5px;
        }
        li.plus-tab:hover {
            background-color: #eee;
        }
    }
}
